.footer {
  padding: 45px 0;
  background: $gray;
  -webkit-box-shadow: inset 0px 38px 45px -8px rgba(1,2,2,0.12);
  -moz-box-shadow: inset 0px 38px 45px -8px rgba(1,2,2,0.12);
  box-shadow: inset 0px 38px 45px -8px rgba(1,2,2,0.12);

  .brand {
    font-weight: bold;
    font-size: 1.5em;
    color: $primary;
    margin-top: 10px;
    .logo {
      max-width: 46px;
      position: relative;
      top: -2px;
    }
    @media all and (max-width: 767px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .description {
    font-size: 18px;
    padding-left: 52px;
    font-size: 1.125em;
    color: $gray-2;
    max-width: 350px;
    @media all and (max-width: 767px) {
      text-align: center;
      max-width: none;
      padding: 0;
      margin-bottom: 30px;
    }
  }
  .footer-links {
    text-align: right;
    margin-right: -15px;
    margin-bottom: 10px;
    @media all and (max-width: 767px) {
      text-align: center;
      margin-right: 0;
      margin-bottom: 20px;
    }
    a {
      display: inline-block;
      padding: 10px 15px;
      color: $dark;
      font-size: 1em;
    }
  }
  small {
    font-size: 13px;
    display: block;
    text-align: right;
    color: $gray-2;
    @media all and (max-width: 767px) {
      text-align: center;
    }
  }
}
