// colors
$primary: #011480;
$primary-darken: darken($primary, 5%);
$primary-lighten: lighten($primary, 5%);
$secondary: #e7311d;
$secondary-darken: darken(#e7311d, 5%);
$secondary-lighten: lighten(#e7311d, 5%);

$link: red;

$white: #ffffff;
$black: #000000;
$gray: #efefef;
$gray-2: #757575;
$dark: #333333;
$blue: #868fc2;
$blue-2: #a6add3;