%text-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
%truncate-remove{
  white-space: normal;
  overflow: hidden;
  text-overflow: clip;
}

@mixin text-multiple-truncate($value, $height){
  display: -webkit-box;
  display: -moz-box;
  -webkit-line-clamp: $value;
  line-clamp: $value;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  height: $height;
}

%truncate-multiple-remove{
  height: auto !important;
  display: block !important;
  -webkit-box-orient: inline-axis !important;
  -moz-box-orient: inline-axis !important;
  box-orient: inline-axis !important;
}
